.idea/workspace.xml
XYZReader/XYZReader.iml
.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
.idea/libraries/appcompat_v7_22_0_0.xml
.idea/libraries/cardview_v7_22_0_0.xml
.idea/libraries/okhttp_3_1_2.xml
.idea/libraries/okio_1_6_0.xml
.idea/libraries/palette_v7_22_0_0.xml
.idea/libraries/recyclerview_v7_22_0_0.xml
.idea/libraries/support_annotations_22_0_0.xml
.idea/libraries/support_v13_22_0_0.xml
.idea/libraries/support_v4_22_0_0.xml
.idea/libraries/volley.xml
XYZReader/build/intermediates/blame/res/debug/single/drawable-mdpi-v4.json
XYZReader/build/intermediates/res/resources-debug-androidTest.ap_
XYZReader/build/intermediates/res/resources-debug.ap_
XYZReader/build
/build
